@font-face{
    font-family:'main';
    src:local('Segoe UI'), local('PingFang SC'), local('Microsoft YaHei'), local('Heiti SC');
    font-display: swap;
}
@font-face{
  font-family:'title';
  src:local('Segoe UI Semibold'), local('PingFang SC Semibold'), local('Microsoft YaHei Bold'), local('Heiti SC');
  font-display: swap;
}
/* 修改valine评论标签颜色 */
/* 主人 */
#masters{
  background-color: #ffa51e;
  color: #ffffff;
}
/* 朋友 */
#friends{
  background-color: #65C6FF;
  color: #ffffff;
}
/* 陌生人 */
#stranger{
  background-color: #bebab3;
  color: #ffffff;
}